/* A4縦用のベース設定 */
@page {
    size: A4 portrait;
    /* 横の場合はlandscape */
    margin: 0mm;
}

/* 各要素の余白リセット */
* {
    margin: 0mm;
    padding: 0mm;
    list-style: none;
}

/* 印刷時の調子を整える */
body {
    font-family: "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
    background-color: #fff;
    width: 210mm;
    line-height: 1.5em;
}

/* 印刷1ページ用のコンテンツはここで定義 */
.page {
    width: 210mm;
    /* 用紙の横幅を改めて指定 */
    height: 296.5mm;
    /* 高さには0.5mm余裕をもたせる */
    page-break-after: always;

    box-sizing: border-box;
    padding: 10mm 10mm;
    /* 用紙の余白 */
    font-size: 11pt;
    position: relative;
}


/* ----------------------プレビュー画面の苦情リストhtmlの設定----------------------- */

.container {
    margin: 0 auto;
    padding: 20px;
    width: 90%;
}
.title{
    letter-spacing: 7px;
    font-size: 18px;
    text-align: center;
    color: black;
    margin-bottom: 70px;
}
.sub-title{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 11px;
}
.table {
    border-collapse: collapse;
}
.date-table,
.date-table th,
.date-table td {
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

.main-table{
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
.main-table tr th{
    height: 55px;
    padding: 10px;
    text-align: center;
    vertical-align: center;
}
.main-table,
.main-table th,
.main-table td {
    border: 1px solid black;
    padding: 5px;
}
.mult-line-text {
    line-height: 1.1rem;
}
/* 文字をテーブルの幅に合わせて折り返す */
.main-td{
    font-size: 14px;
    word-break: break-all;
}
/* テーブルの見出しの文字を普通にする */
th {
    width: 30%;
    font-weight: normal;
}
.date-table {
    border: 1px solid #000;
    width: auto;
    float: right;
}
.date-table th, .date-table td {
    padding: 2px;
    text-align: center;
}
.main-table {
    clear: both;
    border: 1px solid #000;
}
