/* body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
} */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
h1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    font-size: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    height: 55px;
    padding: 10px;
    text-align: left;
    vertical-align: center;
}
th {
    width: 30%;
    font-weight: normal;
}
.date-table {
    border: none;
    width: auto;
    float: right;
    margin-bottom: 10px;
}
.date-table th, .date-table td {
    border: none;
    padding: 2px;
    text-align: left;
}
.main-table {
    clear: both;
}