/* A4縦用のベース設定 */
@page {
    size: A4 portrait;
    /* 横の場合はlandscape */
    margin: 0mm;
}

/* 各要素の余白リセット */
* {
    margin: 0mm;
    padding: 0mm;
    list-style: none;
}

/* 印刷時の調子を整える */
body {
    width: 210mm;
    /* 用紙の横幅を改めて指定 Chrome用 */
    /* -webkit-print-color-adjust: exact;
    color-adjust: exact; */
    line-height: 1.5em;
}

/* 印刷1ページ用のコンテンツはここで定義 */
.page {
    width: 210mm;
    /* 用紙の横幅を改めて指定 */
    height: 296.5mm;
    /* 高さには0.5mm余裕をもたせる */
    page-break-after: always;

    box-sizing: border-box;
    padding: 10mm 10mm;
    /* 用紙の余白 */
    font-size: 11pt;
    position: relative;
}

@media screen {
    body {
        background: #eee;
    }

    .page {
        background: white;
        /* 背景を白く */
        box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
        /* ドロップシャドウ */
        margin: 5mm;
    }
}


/* ----------------------プレビュー画面の苦情リストhtmlの設定----------------------- */

/* body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff;
} */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.title{
    letter-spacing: 7px;
    font-size: 25px;
    text-align: center;
    color: black;
    margin-bottom: 100px;
}
.sub-title{
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 15px;
}
.table {
    border-collapse: collapse;
}
.date-table,
.date-table th,
.date-table td {
    border: 1px solid black;
    padding: 5px;
}

.date-table .time-tr td,
.date-table .time-tr th {
    border-bottom: none;
}
.main-table tr th{
    height: 55px;
    padding: 10px;
    text-align: center;
    vertical-align: center;
}
.main-table,
.main-table th,
.main-table td {
    border: 1px solid black;
    padding: 5px;
}
/* テーブルの見出しの文字を普通にする */
th {
    width: 30%;
    font-weight: normal;
}
.date-table {
    border: 1px solid #000;
    width: auto;
    float: right;
}
.date-table th, .date-table td {
    padding: 2px;
    text-align: center;
}
.main-table {
    clear: both;
    border: 1px solid #000;
}
