@page {
    size: A4 portrait;
    /* 横の場合はlandscape */
    margin: 0mm;
}

.flex {
    display: flex;
}

body {
    background: #eee;
    width: 210mm;
    -webkit-print-color-adjust: exact;
    line-height: 1.5em;

}

.section>div {
    background: #fff;
    box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
    margin: 5mm;
    position: relative;
    width: 210mm;
    height: 296.5mm;
    page-break-after: always;
    box-sizing: border-box;
    padding: 10mm;
}

.section .info {
    justify-content: space-between;
}

.section .invoice-info-left {
    width: 100mm;
    width: 65mm;
    height: 40mm;
    padding: 5mm 22mm 0 13mm;
    line-height: 1.2;
    font-size: 12px;
}

.section .invoice-info-left .text {
    margin-top: 5px;
    text-align: right;
    font-size: 10px;
}

.section .invoice-info-right {
    width: 70mm;
}

.section .invoice-info-right .header .title {
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 10px;
    padding: 5px 0;
    background-color: #f1f1f1;
}

.section .invoice-info-right .header p {
    font-size: 10px;
    text-align: right;
}

.section .invoice-info-right .ownCo {
    font-size: 10px;
    line-height: 1.2;
}

.section .invoice-info-right .ownCo address strong {
    font-size: 12px;
}

.section .invoice-info-right .ownCo .bank {
    margin-top: 10px;
}

.section .invoice-info-right .ownCo .bank {
    margin-top: 10px;
}

.section .message {
    justify-content: space-between;
    height: 10mm;
    padding: 0 5mm 0 8mm;
}

.section .msg-left {
    width: 40%;
}

.section .msg-left .contents {
    font-size: 10px;
    line-height: 1.2;
    text-align: left;
}


.section .msg-right .msg-tbl {
    margin: 1mm;
    border-collapse: collapse;
}

.section .msg-right .msg-tbl th,
.section .msg-right .msg-tbl td {
    border-width: 1px;
    border-style: solid;
    border-color: #c7c7c7;
    padding: 8.2px 5px;
    font-size: 20px;
}

.section .msg-right .msg-tbl td {
    text-align: center;
    padding-left: 4px;
    width: 55mm;
}

.section .bottom-note {
    border-width: 1px;
    border-style: solid;
    border-color: #c7c7c7;
    padding: 5px;
    width: 185mm;
    height: 18mm;
    display: flex;
    position: absolute;
    bottom: 10mm;
}

.section .bottom-note .note-title {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    width: 8mm;
}

.section .bottom-note .note-contents {
    margin-left: 2mm;
    line-height: 1;
    width: 170mm;
    height: 18mm;
}

.section {
    display: none;
}

.section .invoice-table {
    max-height: 250px;
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
}

.section .invoice-table th,
.section .invoice-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}